body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
}

.menu {
    background-color: #333;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li button {
    display: block;
    color: rgb(156, 10, 10);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover, .menu li button:hover {
    background-color: #947e7e;
    color: black;
}





#eventForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#eventForm input, #eventForm textarea {
    width: 80%;
    padding: 4px;
    margin-bottom: 2px;
    box-sizing: border-box;
}

#eventForm button {
    background-color: #4caf50;
    color: #fff;
    padding: 4px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

#eventForm button:hover {
    background-color: #45a049;
}



#carousel-container{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 200px;
    align-items: center;
    
}



.hcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 400px;
    width:100%;
    align-items: center;
    margin:10px;
    padding: 10px;
    color:white;
  
}

.hdiv1 {
    background-color: #333;
    display: flex;
    -ms-flex-align: start;
    color:white;
    margin: 0;
    height: 100%;
    width: 50%;
    text-align:justify;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding:5px;
    flex-wrap: wrap;
    
}
.hdiv1 h1{
    color:white;
}

.hdiv2 {
    display: flex;
    -ms-flex-align: start;
    background-color: white;
    color: black;
    margin: 0;
    height: 100%;
    width: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-transform:lowercase;
    padding:10px;
    

}
.emphasize{
    color: #f9c922;
}


footer{
    display: flex;
    justify-content: center;
}