h1 {
    color: #333;
    text-align: center;
}

.menu {
    background-color: #333;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li button {
    display: block;
    color: rgb(156, 10, 10);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover, .menu li button:hover {
    background-color: #947e7e;
    color: black;
}